body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
.bg-primary {
    background-color: hsl(217, 54%, 11%) !important;
}
.bg-success {
    background-color: hsl(216, 50%, 16%) !important;
}
.text-light {
    font-weight: 600;
}
.text-warning {
    color: hsl(215, 32%, 27%) !important;
}
.text-secondary {
    color: hsl(215, 51%, 70%) !important;
    font-weight: 300;
}
.text-info {
    color: hsl(178, 100%, 50%) !important;
    font-weight: 400;
}